.App > form > button {
	padding: 16px 20px;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	background-color: #9409e5;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}


.App__DistanceButtons {
    width: 300px;
    margin-left: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App > button {
	padding: 16px 20px;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	background-color: #9409e5;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}


.App__DistanceButtons > button {
    padding: 16px 20px;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	background-color: #9409e5;
	font-weight: 600;
	border: none;
	cursor: pointer;
	margin-top: 20px;
}

.App_form {
    margin-top: 5%;
    margin-left: 43%;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.App_InformationLabels {
    display: flex;
    flex-direction: row;
}

.App_Information {
    width: 300px;
    border-top: 1px solid lightgray;
    padding-top: 15px;
    margin-top: 30px;
    margin-left: 43%;
}

.App_Warning {
    color: red;
}